/* Portfolio Grid Container */
.portfolio {
    background-color: #000000;
    padding: 50px 0;
    margin-top: 100px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

.portfolio-title {
    font-weight: bold;
    font-size: 5rem;
    text-align: center; /* Center the title */
    background: linear-gradient(272deg, #fc9b09, #b415ff);
    background-size: 400% 400%; /* Ensure the background covers the text properly */
    background-clip: text; /* Use background clip for text */
    -webkit-background-clip: text; /* For WebKit browsers */
    -webkit-text-fill-color: transparent; /* Makes text transparent, so only gradient shows */
    animation: GradientAnimation 5s ease infinite; /* Use the same gradient animation */
}

/* Gradient animation keyframes */
@keyframes GradientAnimation {
    0% {
        background-position: 0% 52%;
    }
    50% {
        background-position: 100% 49%;
    }
    100% {
        background-position: 0% 52%;
    }
}

/* Gradient animation keyframes for the button */
@keyframes GradientAnimationButton {
    0% {
        background-position: 0% 52%;
    }
    50% {
        background-position: 100% 49%;
    }
    100% {
        background-position: 0% 52%;
    }
}
  
  /* Project Card Styling */
  .project-card {
    border: 2px solid white;
    animation: border-animation 5s infinite;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  @keyframes border-animation {
    0%, 100% {
      border-color: white;
    }
    50% {
      border-color: black;
    }
  }
  
  /* Project Image Styling */
  .project-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  /* Project Title Styling */
  .project-title {
    font-size: 1.4em;
    text-align: center;
    margin: 10px 0;
  }
  
  .project-title a {
    color: white;
    text-decoration: none;
  }
  
  .project-title a:hover {
    color: #ddd;
  }
  
  /* Project Link Styling */
  .project-link {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .project-link a {
    color: white;
    text-decoration: none;
  }
  
  .project-link a:hover {
    color: #ddd;
  }
  

/* Medium devices (tablets) */
@media (max-width: 768px) {
  .portfolio {
    margin-top: 500px;
  }
  .portfolio-container {
      display: grid; /* Ensure grid display */
      grid-template-columns: repeat(2, 1fr); /* Two columns layout */
      gap: 20px; /* Add some gap between items */
  }
  .portfolio-title {
      font-size: 4rem; /* Adjust font size */
  }
}

/* Small devices (mobile phones) */
@media (max-width: 480px) {
  .portfolio {
    margin-top: 1500px;
  }
  .portfolio-container {
      display: grid; /* Ensure grid display */
      grid-template-columns: 1fr; /* Single column layout */
      padding-top: 20px; /* Adjust padding */
      gap: 10px; /* Add gap for mobile layout */
  }
}


  